<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../Content/stylesheets/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Slab" rel="stylesheet">

    <link href="~/Content/stylesheets/styles.css" rel="stylesheet" />
</head>
<body>
    <header>

        @*Insert a banner image here so that it'll show up on all pages*@
        <img class="mx-auto d-block img-fluid" src="../../Content/images/CoinTracker_Logo.jpg" />

    </header>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        @Html.ActionLink("Home", "Index", "Home", new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    @Html.ActionLink("Featured", "FeaturedPage", "FeaturedPage", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Care", "CoinCare", "CoinCare", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Storage", "CoinStorage", "CoinStorage", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Links", "HelpfulLinks", "HelpfulLinks", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Info", "StateCoinProgramInfo", "StateCoinProgramInfo", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Support The Troops", "SupportTheTroops", "SupportTheTroops", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "about", "about", new { @class = "nav-link" })
                </li>
                
            </ul>
        </div>
    </nav>
    <main>

      
        @*The @RenderBody will display content from the View. Develop page specific <main> content
        on the Views>Home>page.cshtml. *@

        @RenderBody()




    </main>
    <footer class="page-footer font-small position-sticky mt-lg-5">
        <div class="footer-copyright text-center py-3">
            © 2018 Copyright: by <em>The Collectors</em></p>
        </div>
    </footer>


</body>
</html>
